In [99]:
import pandas as pd
import numpy as np

In [100]:
COWcode = pd.read_csv("COW-country-codes.csv")
COWcode = COWcode.drop_duplicates()
COWcode.to_csv("COW-country-codes.csv", index=False)
COWcode = pd.read_csv("COW-country-codes.csv")
COWcode

    StateAbb  CCode                        StateNme
0        USA      2        United States of America
1        CAN     20                          Canada
2        BHM     31                         Bahamas
3        CUB     40                            Cuba
4        HAI     41                           Haiti
..       ...    ...                             ...
212      NAU    970                           Nauru
213      MSI    983                Marshall Islands
214      PAL    986                           Palau
215      FSM    987  Federated States of Micronesia
216      WSM    990                           Samoa

[217 rows x 3 columns]

In [101]:
votes = pd.read_csv("UNVotes-UTF-8.csv", dtype={"short":str})

In [102]:
print(votes.columns.values)
votes

['Unnamed: 0' 'rcid' 'ccode' 'member' 'vote' 'Country' 'Countryname'
 'year' 'session' 'abstain' 'yes' 'no' 'importantvote' 'date' 'unres'
 'amend' 'para' 'short' 'descr' 'me' 'nu' 'di' 'hr' 'co' 'ec' 'ident'
 'resid']

,Unnamed: 0,rcid,ccode,member,vote,Country,Countryname,year,session,abstain,...,short,descr,me,nu,di,hr,co,ec,ident,resid
0,1,3,2,1.0,1,USA,United States of America,1946,1,4.0,...,"AMENDMENTS, RULES OF PROCEDURE",TO ADOPT A CUBAN AMENDMENT TO THE UK PROPOSAL ...,0,0,0,0,0,0,0.0,1001
1,2,3,20,1.0,3,CAN,Canada,1946,1,4.0,...,"AMENDMENTS, RULES OF PROCEDURE",TO ADOPT A CUBAN AMENDMENT TO THE UK PROPOSAL ...,0,0,0,0,0,0,0.0,1001
2,3,3,31,NaN,9,BHS,Bahamas,1946,1,4.0,...,"AMENDMENTS, RULES OF PROCEDURE",TO ADOPT A CUBAN AMENDMENT TO THE UK PROPOSAL ...,0,0,0,0,0,0,0.0,1001
3,4,3,40,1.0,1,CUB,Cuba,1946,1,4.0,...,"AMENDMENTS, RULES OF PROCEDURE",TO ADOPT A CUBAN AMENDMENT TO THE UK PROPOSAL ...,0,0,0,0,0,0,0.0,1001
4,5,3,41,1.0,1,HTI,Haiti,1946,1,4.0,...,"AMENDMENTS, RULES OF PROCEDURE",TO ADOPT A CUBAN AMENDMENT TO THE UK PROPOSAL ...,0,0,0,0,0,0,0.0,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249969,1249970,9282,101,1.0,1,VEN,Venezuela,2021,76,5.0,...,Treaty Banning the Production of Fissile Mater...,Treaty Banning the Production of Fissile Mater...,0,1,1,0,1,1,NaN,76039
1249970,1249971,9282,816,1.0,1,VNM,Vietnam,2021,76,5.0,...,Treaty Banning the Production of Fissile Mater...,Treaty Banning the Production of Fissile Mater...,0,1,1,0,1,1,NaN,76039
1249971,1249972,9282,679,1.0,1,YEM,Yemen,2021,76,5.0,...,Treaty Banning the Production of Fissile Mater...,Treaty Banning the Production of Fissile Mater...,0,1,1,0,1,1,NaN,76039
1249972,1249973,9282,551,1.0,1,ZMB,Zambia,2021,76,5.0,...,Treaty Banning the Production of Fissile Mater...,Treaty Banning the Production of Fissile Mater...,0,1,1,0,1,1,NaN,76039
1249973,1249974,9282,552,1.0,1,ZWE,Zimbabwe,2021,76,5.0,...,Treaty Banning the Production of Fissile Mater...,Treaty Banning the Production of Fissile Mater...,0,1,1,0,1,1,NaN,76039

In [103]:
votes = votes.drop(["Unnamed: 0","short","descr","ident"],axis=1)
print(votes.columns.values)
votes

['rcid' 'ccode' 'member' 'vote' 'Country' 'Countryname' 'year' 'session'
 'abstain' 'yes' 'no' 'importantvote' 'date' 'unres' 'amend' 'para' 'me'
 'nu' 'di' 'hr' 'co' 'ec' 'resid']

,rcid,ccode,member,vote,Country,Countryname,year,session,abstain,yes,...,unres,amend,para,me,nu,di,hr,co,ec,resid
0,3,2,1.0,1,USA,United States of America,1946,1,4.0,29.0,...,R/1/66,1.0,0.0,0,0,0,0,0,0,1001
1,3,20,1.0,3,CAN,Canada,1946,1,4.0,29.0,...,R/1/66,1.0,0.0,0,0,0,0,0,0,1001
2,3,31,NaN,9,BHS,Bahamas,1946,1,4.0,29.0,...,R/1/66,1.0,0.0,0,0,0,0,0,0,1001
3,3,40,1.0,1,CUB,Cuba,1946,1,4.0,29.0,...,R/1/66,1.0,0.0,0,0,0,0,0,0,1001
4,3,41,1.0,1,HTI,Haiti,1946,1,4.0,29.0,...,R/1/66,1.0,0.0,0,0,0,0,0,0,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249969,9282,101,1.0,1,VEN,Venezuela,2021,76,5.0,182.0,...,A/RES/76/51,0.0,0.0,0,1,1,0,1,1,76039
1249970,9282,816,1.0,1,VNM,Vietnam,2021,76,5.0,182.0,...,A/RES/76/51,0.0,0.0,0,1,1,0,1,1,76039
1249971,9282,679,1.0,1,YEM,Yemen,2021,76,5.0,182.0,...,A/RES/76/51,0.0,0.0,0,1,1,0,1,1,76039
1249972,9282,551,1.0,1,ZMB,Zambia,2021,76,5.0,182.0,...,A/RES/76/51,0.0,0.0,0,1,1,0,1,1,76039
1249973,9282,552,1.0,1,ZWE,Zimbabwe,2021,76,5.0,182.0,...,A/RES/76/51,0.0,0.0,0,1,1,0,1,1,76039

In [104]:
votes = votes[votes["ccode"] != 345] ## exclude ccode 345 (Yugoslavia) because it is not unique in each vote (rcid)
print(votes.columns.values)
votes

['rcid' 'ccode' 'member' 'vote' 'Country' 'Countryname' 'year' 'session'
 'abstain' 'yes' 'no' 'importantvote' 'date' 'unres' 'amend' 'para' 'me'
 'nu' 'di' 'hr' 'co' 'ec' 'resid']

,rcid,ccode,member,vote,Country,Countryname,year,session,abstain,yes,...,unres,amend,para,me,nu,di,hr,co,ec,resid
0,3,2,1.0,1,USA,United States of America,1946,1,4.0,29.0,...,R/1/66,1.0,0.0,0,0,0,0,0,0,1001
1,3,20,1.0,3,CAN,Canada,1946,1,4.0,29.0,...,R/1/66,1.0,0.0,0,0,0,0,0,0,1001
2,3,31,NaN,9,BHS,Bahamas,1946,1,4.0,29.0,...,R/1/66,1.0,0.0,0,0,0,0,0,0,1001
3,3,40,1.0,1,CUB,Cuba,1946,1,4.0,29.0,...,R/1/66,1.0,0.0,0,0,0,0,0,0,1001
4,3,41,1.0,1,HTI,Haiti,1946,1,4.0,29.0,...,R/1/66,1.0,0.0,0,0,0,0,0,0,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249969,9282,101,1.0,1,VEN,Venezuela,2021,76,5.0,182.0,...,A/RES/76/51,0.0,0.0,0,1,1,0,1,1,76039
1249970,9282,816,1.0,1,VNM,Vietnam,2021,76,5.0,182.0,...,A/RES/76/51,0.0,0.0,0,1,1,0,1,1,76039
1249971,9282,679,1.0,1,YEM,Yemen,2021,76,5.0,182.0,...,A/RES/76/51,0.0,0.0,0,1,1,0,1,1,76039
1249972,9282,551,1.0,1,ZMB,Zambia,2021,76,5.0,182.0,...,A/RES/76/51,0.0,0.0,0,1,1,0,1,1,76039
1249973,9282,552,1.0,1,ZWE,Zimbabwe,2021,76,5.0,182.0,...,A/RES/76/51,0.0,0.0,0,1,1,0,1,1,76039

In [105]:
votes = votes.drop("year",axis=1)
votes["dateNew"] = pd.to_datetime(votes["date"], format="%Y-%m-%d")
votes["year"] = votes["dateNew"].dt.year
print(votes.columns.values)
votes

['rcid' 'ccode' 'member' 'vote' 'Country' 'Countryname' 'session'
 'abstain' 'yes' 'no' 'importantvote' 'date' 'unres' 'amend' 'para' 'me'
 'nu' 'di' 'hr' 'co' 'ec' 'resid' 'dateNew' 'year']

,rcid,ccode,member,vote,Country,Countryname,session,abstain,yes,no,...,para,me,nu,di,hr,co,ec,resid,dateNew,year
0,3,2,1.0,1,USA,United States of America,1,4.0,29.0,18.0,...,0.0,0,0,0,0,0,0,1001,1946-01-01,1946
1,3,20,1.0,3,CAN,Canada,1,4.0,29.0,18.0,...,0.0,0,0,0,0,0,0,1001,1946-01-01,1946
2,3,31,NaN,9,BHS,Bahamas,1,4.0,29.0,18.0,...,0.0,0,0,0,0,0,0,1001,1946-01-01,1946
3,3,40,1.0,1,CUB,Cuba,1,4.0,29.0,18.0,...,0.0,0,0,0,0,0,0,1001,1946-01-01,1946
4,3,41,1.0,1,HTI,Haiti,1,4.0,29.0,18.0,...,0.0,0,0,0,0,0,0,1001,1946-01-01,1946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249969,9282,101,1.0,1,VEN,Venezuela,76,5.0,182.0,1.0,...,0.0,0,1,1,0,1,1,76039,2021-12-06,2021
1249970,9282,816,1.0,1,VNM,Vietnam,76,5.0,182.0,1.0,...,0.0,0,1,1,0,1,1,76039,2021-12-06,2021
1249971,9282,679,1.0,1,YEM,Yemen,76,5.0,182.0,1.0,...,0.0,0,1,1,0,1,1,76039,2021-12-06,2021
1249972,9282,551,1.0,1,ZMB,Zambia,76,5.0,182.0,1.0,...,0.0,0,1,1,0,1,1,76039,2021-12-06,2021
1249973,9282,552,1.0,1,ZWE,Zimbabwe,76,5.0,182.0,1.0,...,0.0,0,1,1,0,1,1,76039,2021-12-06,2021

In [106]:
votes = votes.rename({"Countryname":"CountrynameOld"}, axis=1)
votes["Countryname"] = votes["Country"].where(pd.isna(votes["CountrynameOld"]),votes["CountrynameOld"])
votes = votes.drop("CountrynameOld",axis=1)
print(votes.columns.values)
votes

['rcid' 'ccode' 'member' 'vote' 'Country' 'session' 'abstain' 'yes' 'no'
 'importantvote' 'date' 'unres' 'amend' 'para' 'me' 'nu' 'di' 'hr' 'co'
 'ec' 'resid' 'dateNew' 'year' 'Countryname']

,rcid,ccode,member,vote,Country,session,abstain,yes,no,importantvote,...,me,nu,di,hr,co,ec,resid,dateNew,year,Countryname
0,3,2,1.0,1,USA,1,4.0,29.0,18.0,0.0,...,0,0,0,0,0,0,1001,1946-01-01,1946,United States of America
1,3,20,1.0,3,CAN,1,4.0,29.0,18.0,0.0,...,0,0,0,0,0,0,1001,1946-01-01,1946,Canada
2,3,31,NaN,9,BHS,1,4.0,29.0,18.0,0.0,...,0,0,0,0,0,0,1001,1946-01-01,1946,Bahamas
3,3,40,1.0,1,CUB,1,4.0,29.0,18.0,0.0,...,0,0,0,0,0,0,1001,1946-01-01,1946,Cuba
4,3,41,1.0,1,HTI,1,4.0,29.0,18.0,0.0,...,0,0,0,0,0,0,1001,1946-01-01,1946,Haiti
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249969,9282,101,1.0,1,VEN,76,5.0,182.0,1.0,NaN,...,0,1,1,0,1,1,76039,2021-12-06,2021,Venezuela
1249970,9282,816,1.0,1,VNM,76,5.0,182.0,1.0,NaN,...,0,1,1,0,1,1,76039,2021-12-06,2021,Vietnam
1249971,9282,679,1.0,1,YEM,76,5.0,182.0,1.0,NaN,...,0,1,1,0,1,1,76039,2021-12-06,2021,Yemen
1249972,9282,551,1.0,1,ZMB,76,5.0,182.0,1.0,NaN,...,0,1,1,0,1,1,76039,2021-12-06,2021,Zambia
1249973,9282,552,1.0,1,ZWE,76,5.0,182.0,1.0,NaN,...,0,1,1,0,1,1,76039,2021-12-06,2021,Zimbabwe

In [107]:
votes = votes.merge(COWcode, how="left", left_on="ccode", right_on="CCode")
print(votes.columns.values)
votes

['rcid' 'ccode' 'member' 'vote' 'Country' 'session' 'abstain' 'yes' 'no'
 'importantvote' 'date' 'unres' 'amend' 'para' 'me' 'nu' 'di' 'hr' 'co'
 'ec' 'resid' 'dateNew' 'year' 'Countryname' 'StateAbb' 'CCode' 'StateNme']

,rcid,ccode,member,vote,Country,session,abstain,yes,no,importantvote,...,hr,co,ec,resid,dateNew,year,Countryname,StateAbb,CCode,StateNme
0,3,2,1.0,1,USA,1,4.0,29.0,18.0,0.0,...,0,0,0,1001,1946-01-01,1946,United States of America,USA,2,United States of America
1,3,20,1.0,3,CAN,1,4.0,29.0,18.0,0.0,...,0,0,0,1001,1946-01-01,1946,Canada,CAN,20,Canada
2,3,31,NaN,9,BHS,1,4.0,29.0,18.0,0.0,...,0,0,0,1001,1946-01-01,1946,Bahamas,BHM,31,Bahamas
3,3,40,1.0,1,CUB,1,4.0,29.0,18.0,0.0,...,0,0,0,1001,1946-01-01,1946,Cuba,CUB,40,Cuba
4,3,41,1.0,1,HTI,1,4.0,29.0,18.0,0.0,...,0,0,0,1001,1946-01-01,1946,Haiti,HAI,41,Haiti
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242755,9282,101,1.0,1,VEN,76,5.0,182.0,1.0,NaN,...,0,1,1,76039,2021-12-06,2021,Venezuela,VEN,101,Venezuela
1242756,9282,816,1.0,1,VNM,76,5.0,182.0,1.0,NaN,...,0,1,1,76039,2021-12-06,2021,Vietnam,DRV,816,Vietnam
1242757,9282,679,1.0,1,YEM,76,5.0,182.0,1.0,NaN,...,0,1,1,76039,2021-12-06,2021,Yemen,YEM,679,Yemen
1242758,9282,551,1.0,1,ZMB,76,5.0,182.0,1.0,NaN,...,0,1,1,76039,2021-12-06,2021,Zambia,ZAM,551,Zambia
1242759,9282,552,1.0,1,ZWE,76,5.0,182.0,1.0,NaN,...,0,1,1,76039,2021-12-06,2021,Zimbabwe,ZIM,552,Zimbabwe

In [108]:
votes = votes.drop(["Country","CCode"],axis=1)
votes = votes.rename({"StateAbb":"Country","StateNme":"CountrynameCOW"}, axis=1)
print(votes.columns.values)
votes

['rcid' 'ccode' 'member' 'vote' 'session' 'abstain' 'yes' 'no'
 'importantvote' 'date' 'unres' 'amend' 'para' 'me' 'nu' 'di' 'hr' 'co'
 'ec' 'resid' 'dateNew' 'year' 'Countryname' 'Country' 'CountrynameCOW']

,rcid,ccode,member,vote,session,abstain,yes,no,importantvote,date,...,di,hr,co,ec,resid,dateNew,year,Countryname,Country,CountrynameCOW
0,3,2,1.0,1,1,4.0,29.0,18.0,0.0,1946-01-01,...,0,0,0,0,1001,1946-01-01,1946,United States of America,USA,United States of America
1,3,20,1.0,3,1,4.0,29.0,18.0,0.0,1946-01-01,...,0,0,0,0,1001,1946-01-01,1946,Canada,CAN,Canada
2,3,31,NaN,9,1,4.0,29.0,18.0,0.0,1946-01-01,...,0,0,0,0,1001,1946-01-01,1946,Bahamas,BHM,Bahamas
3,3,40,1.0,1,1,4.0,29.0,18.0,0.0,1946-01-01,...,0,0,0,0,1001,1946-01-01,1946,Cuba,CUB,Cuba
4,3,41,1.0,1,1,4.0,29.0,18.0,0.0,1946-01-01,...,0,0,0,0,1001,1946-01-01,1946,Haiti,HAI,Haiti
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242755,9282,101,1.0,1,76,5.0,182.0,1.0,NaN,2021-12-06,...,1,0,1,1,76039,2021-12-06,2021,Venezuela,VEN,Venezuela
1242756,9282,816,1.0,1,76,5.0,182.0,1.0,NaN,2021-12-06,...,1,0,1,1,76039,2021-12-06,2021,Vietnam,DRV,Vietnam
1242757,9282,679,1.0,1,76,5.0,182.0,1.0,NaN,2021-12-06,...,1,0,1,1,76039,2021-12-06,2021,Yemen,YEM,Yemen
1242758,9282,551,1.0,1,76,5.0,182.0,1.0,NaN,2021-12-06,...,1,0,1,1,76039,2021-12-06,2021,Zambia,ZAM,Zambia
1242759,9282,552,1.0,1,76,5.0,182.0,1.0,NaN,2021-12-06,...,1,0,1,1,76039,2021-12-06,2021,Zimbabwe,ZIM,Zimbabwe

In [109]:
colOrder = ['date', 'dateNew', 'year',
            'rcid', 'resid', 'session',
            'ccode', 'Country', 'Countryname', 'CountrynameCOW', 'vote',
            'unres', 'yes', 'no', 'abstain', 'amend', 'para', 'importantvote',
            'me', 'nu', 'di', 'hr', 'co', 'ec']
votes = votes[colOrder]
print(votes.columns.values)
votes

['date' 'dateNew' 'year' 'rcid' 'resid' 'session' 'ccode' 'Country'
 'Countryname' 'CountrynameCOW' 'vote' 'unres' 'yes' 'no' 'abstain'
 'amend' 'para' 'importantvote' 'me' 'nu' 'di' 'hr' 'co' 'ec']

,date,dateNew,year,rcid,resid,session,ccode,Country,Countryname,CountrynameCOW,...,abstain,amend,para,importantvote,me,nu,di,hr,co,ec
0,1946-01-01,1946-01-01,1946,3,1001,1,2,USA,United States of America,United States of America,...,4.0,1.0,0.0,0.0,0,0,0,0,0,0
1,1946-01-01,1946-01-01,1946,3,1001,1,20,CAN,Canada,Canada,...,4.0,1.0,0.0,0.0,0,0,0,0,0,0
2,1946-01-01,1946-01-01,1946,3,1001,1,31,BHM,Bahamas,Bahamas,...,4.0,1.0,0.0,0.0,0,0,0,0,0,0
3,1946-01-01,1946-01-01,1946,3,1001,1,40,CUB,Cuba,Cuba,...,4.0,1.0,0.0,0.0,0,0,0,0,0,0
4,1946-01-01,1946-01-01,1946,3,1001,1,41,HAI,Haiti,Haiti,...,4.0,1.0,0.0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242755,2021-12-06,2021-12-06,2021,9282,76039,76,101,VEN,Venezuela,Venezuela,...,5.0,0.0,0.0,NaN,0,1,1,0,1,1
1242756,2021-12-06,2021-12-06,2021,9282,76039,76,816,DRV,Vietnam,Vietnam,...,5.0,0.0,0.0,NaN,0,1,1,0,1,1
1242757,2021-12-06,2021-12-06,2021,9282,76039,76,679,YEM,Yemen,Yemen,...,5.0,0.0,0.0,NaN,0,1,1,0,1,1
1242758,2021-12-06,2021-12-06,2021,9282,76039,76,551,ZAM,Zambia,Zambia,...,5.0,0.0,0.0,NaN,0,1,1,0,1,1
1242759,2021-12-06,2021-12-06,2021,9282,76039,76,552,ZIM,Zimbabwe,Zimbabwe,...,5.0,0.0,0.0,NaN,0,1,1,0,1,1

In [110]:
votes = votes.sort_values(by = ["dateNew","resid","ccode"])
print(votes.columns.values)
votes

['date' 'dateNew' 'year' 'rcid' 'resid' 'session' 'ccode' 'Country'
 'Countryname' 'CountrynameCOW' 'vote' 'unres' 'yes' 'no' 'abstain'
 'amend' 'para' 'importantvote' 'me' 'nu' 'di' 'hr' 'co' 'ec']

,date,dateNew,year,rcid,resid,session,ccode,Country,Countryname,CountrynameCOW,...,abstain,amend,para,importantvote,me,nu,di,hr,co,ec
0,1946-01-01,1946-01-01,1946,3,1001,1,2,USA,United States of America,United States of America,...,4.0,1.0,0.0,0.0,0,0,0,0,0,0
1,1946-01-01,1946-01-01,1946,3,1001,1,20,CAN,Canada,Canada,...,4.0,1.0,0.0,0.0,0,0,0,0,0,0
2,1946-01-01,1946-01-01,1946,3,1001,1,31,BHM,Bahamas,Bahamas,...,4.0,1.0,0.0,0.0,0,0,0,0,0,0
3,1946-01-01,1946-01-01,1946,3,1001,1,40,CUB,Cuba,Cuba,...,4.0,1.0,0.0,0.0,0,0,0,0,0,0
4,1946-01-01,1946-01-01,1946,3,1001,1,41,HAI,Haiti,Haiti,...,4.0,1.0,0.0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1235199,2021-12-24,2021-12-24,2021,9313,76070,76,970,NAU,Nauru,Nauru,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
1235187,2021-12-24,2021-12-24,2021,9313,76070,76,983,MSI,Marshall Islands,Marshall Islands,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
1235210,2021-12-24,2021-12-24,2021,9313,76070,76,986,PAL,Palau,Palau,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
1235191,2021-12-24,2021-12-24,2021,9313,76070,76,987,FSM,Micronesia (Federated States of),Federated States of Micronesia,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
1235228,2021-12-24,2021-12-24,2021,9313,76070,76,990,WSM,Samoa,Samoa,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0

In [111]:
### Check the data

### check relationship of ccode, 3 letter abbr (COW), original country name, and COW country name
### all are unique except original country name

# ccodes = votes["ccode"].unique()
# ccodes.sort()

# for onecode in ccodes:
#     print(onecode)
#     print(votes[votes["ccode"]==onecode]["Country"].unique())
#     print(votes[votes["ccode"]==onecode]["Countryname"].unique())
#     print(votes[votes["ccode"]==onecode]["CountrynameCOW"].unique())

### check if one country only appears once in one vote (resid), 0 means yes

votes.groupby(["resid"])["ccode"].apply(lambda x: len(x)-len(x.unique())).sum()

0

In [112]:
votes = votes[votes["year"]>=1991] ## 1991 to 2021
votes = votes.drop("dateNew",axis=1)
print(votes.columns.values)
votes

['date' 'year' 'rcid' 'resid' 'session' 'ccode' 'Country' 'Countryname'
 'CountrynameCOW' 'vote' 'unres' 'yes' 'no' 'abstain' 'amend' 'para'
 'importantvote' 'me' 'nu' 'di' 'hr' 'co' 'ec']

,date,year,rcid,resid,session,ccode,Country,Countryname,CountrynameCOW,vote,...,abstain,amend,para,importantvote,me,nu,di,hr,co,ec
713244,1991-10-03,1991,3588,46002,46,2,USA,United States of America,United States of America,2,...,23.0,NaN,NaN,0.0,0,0,0,0,0,0
713245,1991-10-03,1991,3588,46002,46,20,CAN,Canada,Canada,1,...,23.0,NaN,NaN,0.0,0,0,0,0,0,0
713246,1991-10-03,1991,3588,46002,46,31,BHM,Bahamas,Bahamas,1,...,23.0,NaN,NaN,0.0,0,0,0,0,0,0
713247,1991-10-03,1991,3588,46002,46,40,CUB,Cuba,Cuba,1,...,23.0,NaN,NaN,0.0,0,0,0,0,0,0
713248,1991-10-03,1991,3588,46002,46,41,HAI,Haiti,Haiti,1,...,23.0,NaN,NaN,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1235199,2021-12-24,2021,9313,76070,76,970,NAU,Nauru,Nauru,1,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
1235187,2021-12-24,2021,9313,76070,76,983,MSI,Marshall Islands,Marshall Islands,1,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
1235210,2021-12-24,2021,9313,76070,76,986,PAL,Palau,Palau,1,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
1235191,2021-12-24,2021,9313,76070,76,987,FSM,Micronesia (Federated States of),Federated States of Micronesia,1,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
1235228,2021-12-24,2021,9313,76070,76,990,WSM,Samoa,Samoa,8,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0

In [113]:
votes.to_csv("UNVotes-Clean.csv" , index=False)

In [114]:
votes = pd.read_csv("UNVotes-Clean.csv")
print(votes.columns.values)
votes

['date' 'year' 'rcid' 'resid' 'session' 'ccode' 'Country' 'Countryname'
 'CountrynameCOW' 'vote' 'unres' 'yes' 'no' 'abstain' 'amend' 'para'
 'importantvote' 'me' 'nu' 'di' 'hr' 'co' 'ec']

,date,year,rcid,resid,session,ccode,Country,Countryname,CountrynameCOW,vote,...,abstain,amend,para,importantvote,me,nu,di,hr,co,ec
0,1991-10-03,1991,3588,46002,46,2,USA,United States of America,United States of America,2,...,23.0,NaN,NaN,0.0,0,0,0,0,0,0
1,1991-10-03,1991,3588,46002,46,20,CAN,Canada,Canada,1,...,23.0,NaN,NaN,0.0,0,0,0,0,0,0
2,1991-10-03,1991,3588,46002,46,31,BHM,Bahamas,Bahamas,1,...,23.0,NaN,NaN,0.0,0,0,0,0,0,0
3,1991-10-03,1991,3588,46002,46,40,CUB,Cuba,Cuba,1,...,23.0,NaN,NaN,0.0,0,0,0,0,0,0
4,1991-10-03,1991,3588,46002,46,41,HAI,Haiti,Haiti,1,...,23.0,NaN,NaN,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529707,2021-12-24,2021,9313,76070,76,970,NAU,Nauru,Nauru,1,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
529708,2021-12-24,2021,9313,76070,76,983,MSI,Marshall Islands,Marshall Islands,1,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
529709,2021-12-24,2021,9313,76070,76,986,PAL,Palau,Palau,1,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
529710,2021-12-24,2021,9313,76070,76,987,FSM,Micronesia (Federated States of),Federated States of Micronesia,1,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0
529711,2021-12-24,2021,9313,76070,76,990,WSM,Samoa,Samoa,8,...,2.0,0.0,0.0,NaN,0,0,0,0,0,0